.hero {
    background: #f1f1f1;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 0;
}

.background {
    position: fixed;
    z-index: -100;
}
.background::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, hsl(0 0 100 / 0), hsl(0 0 100 / .8) 60%, hsl(0 0 100 / 0));
    z-index: 0;
}

.content {
    padding-top: 8rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.hero-avatar {
    display: flex;
}

.hero-avatar img {
    width: calc(100%/12);
    height: auto;
    margin-inline: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toHighlight {
    background: linear-gradient(to bottom right, hsl(6 87 54), hsl(282 90 58));
    background: -webkit-linear-gradient(to bottom right, hsl(6 87 54), hsl(282 90 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-featured h2{
    margin-top: 2rem;
    margin-bottom: 2rem;;
    font-family: var(--font_face-mono);
    font-size: 1.25rem;
    /* font-weight: 500; */
    text-transform: uppercase;
}

.featured-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.featured-logos img {
    width: auto;
    height: 4rem;
    /* margin-inline: auto; */
}