.navbar {
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    z-index: 10;
    right: calc(var(--grid-size));
    top: calc(var(--grid-size));
    background-color: #b0b0b0;
}

.navbar .links {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-block: 0;
}

/* Grid-based tape recorder style buttons */
.navbar .link {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: calc(2 * var(--grid-size));
    height: var(--grid-size);
    background: white;

    border: 1px solid #dcdcdc;

    transition: all 0.15s ease;
    cursor: pointer;
    position: relative;

    /* Typography */
    text-transform: uppercase;
    transform: translateY(calc(-1*var(--grid-size)/8));

    &:hover {
        background: #dedede;
    }

    &:active,
    &.link.active {
        border-color: #dcdcdc;
        transform: translateY(0);
    }
}

.navbar .link > a{
    text-decoration: none;
    color: black;
}

.navbar .link>a svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}