.navbar {
    color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .links {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-block: 0;
}

.navbar .link>a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-inline: 0.25rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: all 0.25s ease;
    &:hover {
        background-color: #f7f7f7;
        border-color: hsl(0 0% 72% / 50%);
        box-shadow: 0px 1px 8px -4px rgba(0 0 0 / 0.5);
    }
}
.navbar .link>a svg {
    width: auto;
    vertical-align: middle;
}