/* Nav Logo */

.nav-logo {
    height: var(--grid-size);
    width: calc(var(--grid-size) * 4);

    flex-shrink: 0;
    background-color: white;
    display: flex;
    place-items: center;
    justify-content: center;
    border: var(--border-standard-secondary);
    font-family: var(--font_face-mono);
    font-size: var(--font_body-large--size);
    line-height: 1;
    letter-spacing: var(--font_body--letter-spacing);
    font-weight: 400;
    text-transform: uppercase;
}

.nav-logo .toHighlight {
    color: var(--color-accent);
}

.logo-full {
    display: block;
}

.logo-short {
    display: none;
}

@media (max-width: 675px) {
    .nav-logo {
        height: calc(var(--grid-size) * 2);
        width: calc(var(--grid-size) * 2);
    }

    .logo-full {
        display: none;
    }

    .logo-short {
        display: block;
    }
}