:root{
    /* Breakpoint is up to the value excluding it [breakpoint, next).
        2xs: 0 - 359px;
        xs: 360px - 549px;
        .
        .
        .
        2xl: 1440px+'
    */
    --breakpoint-2xs: 360px; 
    --breakpoint-xs: 550px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1440px;
}