@font-face {
    font-family: 'Departure Mono';
    src: url('/fonts/DepartureMono-Regular.woff2') format('woff2'),
         url('/fonts/DepartureMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Add more weights if you have them */
/* @font-face {
    font-family: 'Departure Mono';
    src: url('/fonts/DepartureMono-Bold.woff2') format('woff2'),
         url('/fonts/DepartureMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */
