:root {
    /** Font Family **/
    --font_face-sans: var(--font-google-sans-code), monospace;
    --font_face-serif: var(--font-playfair-display), serif;
    --font_face-mono: 'Departure Mono', monospace;
    --font_face-8bit: var(--font-press-start-2p), monospace;

    /** Fluid Typescale - Responsive using clamp() **/

    /* Heading scales */
    --font_heading-1--size: clamp(1.5rem, 1.3rem + 1vw, 2.25rem);
    --font_heading-1--line-height: 1.4;
    --font_heading-1--letter-spacing: -0.02rem;
    --font_heading-1--weight: 400;

    --font_heading-2--size: clamp(1.25rem, 1.08rem + 0.87vw, 1.75rem);
    --font_heading-2--line-height: 1.3;
    --font_heading-2--letter-spacing: -0.02rem;
    --font_heading-2--weight: 400;

    --font_heading-3--size: clamp(1.125rem, 1rem + 0.65vw, 1.5rem);
    --font_heading-3--line-height: 1.35;
    --font_heading-3--letter-spacing: -0.015rem;
    --font_heading-3--weight: 400;

    --font_heading-4--size: clamp(1.067rem, 1rem + 0.33vw, 1.25rem);
    --font_heading-4--line-height: 1.4;
    --font_heading-4--letter-spacing: -0.01rem;
    --font_heading-4--weight: 400;

    /* Body scales */
    --font_body-large--size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
    --font_body-large--line-height: 1.5;
    --font_body-large--letter-spacing: initial;
    --font_body-large--weight: 400;

    --font_body--size: clamp(0.875rem, 0.82rem + 0.22vw, 1rem);
    --font_body--line-height: 1.6;
    --font_body--letter-spacing: initial;
    --font_body--weight: 400;

    --font_body-small--size: clamp(0.75rem, 0.7rem + 0.22vw, 0.875rem);
    --font_body-small--line-height: 1.5;
    --font_body-small--letter-spacing: 0.01rem;
    --font_body-small--weight: 400;
}