:root {
    /** Font Family **/
    --font_face-sans: "Bricolage Grotesque", Helvetica, sans-serif;
    --font_face-mono: "Space Mono", monospace;

    /** Typescale **/
    --font_display-1--size: 4rem;
    --font_display-1--line-height: 4.8rem;
    --font_display-1--letter-spacing: -0.025rem;
    --font_display-1--weight: 700;

    --font_display-2--size: 3.5rem;
    --font_display-2--line-height: 4.2rem;
    --font_display-2--letter-spacing: -0.025rem;
    --font_display-2--weight: 700;


    --font_display-3--size: 2.625rem;
    --font_display-3--line-height: 3.15rem;
    --font_display-3--letter-spacing: -0.025rem;
    --font_display-3--weight: 700;

    /* --font_heading-1--: ; */

    --font_heading-1--size: 2.25rem;
    --font_heading-1--line-height: 3.0375rem;
    --font_heading-1--letter-spacing: -0.02rem;
    --font_heading-1--weight: 600;


    --font_heading-2--size: 1.75rem;
    --font_heading-2--line-height: 2.3625rem;
    --font_heading-2--letter-spacing: -0.02rem;
    --font_heading-2--weight: 600;


    --font_heading-3--size: 1.5rem;
    --font_heading-3--line-height: 2.025rem;
    --font_heading-3--letter-spacing: -0.015rem;
    --font_heading-3--weight: 600;


    --font_heading-4--size: 1.25rem;
    --font_heading-4--line-height: 1.875rem;
    --font_heading-4--letter-spacing: -0.01rem;
    --font_heading-4--weight: 600;

    --font_body-large--size: 1.125rem;
    --font_body-large--line-height: 1.6875rem;
    --font_body-large--letter-spacing: initial;
    --font_body-large--weight: 500;

    --font_body--size: 1rem;
    --font_body--line-height: 1.5rem;
    --font_body--letter-spacing: initial;
    --font_body--weight: 500;

    --font_body-small--size: 0.875rem;
    --font_body-small--line-height: 1.3125rem;
    --font_body-small--letter-spacing: 0.01rem;
    --font_body-small--weight: 500;
}