.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--grid-size);
    z-index: 0;
    position: relative;
    height: calc(var(--grid-size) * 1);
    background-color: white;
    font-family: var(--font_face-mono);
    font-size: 2rem;
    text-align: center;
    border: var(--border-standard);
}