/* Breadcrumbs */
.breadcrumbs {
    height: var(--grid-spacing-1);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    padding: 0 var(--grid-spacing-1);
    font-family: var(--font_face-mono);
    font-size: var(--font_body-small--size);
    background-color: white;
    border: var(--border-standard);
}

.breadcrumbLink {
    color: #ff4000;
    text-decoration: none;
    transition: opacity 0.2s;
}

.breadcrumbLink:hover {
    opacity: 0.7;
}

.breadcrumbSeparator {
    color: var(--color-text-secondary);
}

.breadcrumbCurrent {
    color: var(--color-foreground);
}


@media (max-width: 675px){
    .breadcrumbs{
        height: var(--grid-spacing-2);
    }
}