:root {
    --layout_column-gap--xxs: 0.5rem;
    --layout_column-gap--xs: 0.75rem;
    --layout_column-gap--sm: 1rem;
    --layout_column-gap--md: 1rem;
    --layout_column-gap--lg: 1rem;
    --layout_column-gap--xl: 1.25rem;
    --layout_column-gap--xxl: 1.5rem;
}

[class*="col-"] {
  grid-column: span 12;
}

@media(width < 360px) {

    /* xxs */
    :root {
        --layout_column-gap: var(--layout_column-gap--xxs);
    }
    .col-xxs-1  { grid-column: span 1; }
    .col-xxs-2  { grid-column: span 2; }
    .col-xxs-3  { grid-column: span 3; }
    .col-xxs-4  { grid-column: span 4; }
    .col-xxs-5  { grid-column: span 5; }
    .col-xxs-6  { grid-column: span 6; }
    .col-xxs-7  { grid-column: span 7; }
    .col-xxs-8  { grid-column: span 8; }
    .col-xxs-9  { grid-column: span 9; }
    .col-xxs-10 { grid-column: span 10; }
    .col-xxs-11 { grid-column: span 11; }
    .col-xxs-12 { grid-column: span 12; }

}

@media(360px <=width) {

    /* xs */
    :root {
        --layout_column-gap: var(--layout_column-gap--xs);
    }
    .col-xs-1  { grid-column: span 1; }
    .col-xs-2  { grid-column: span 2; }
    .col-xs-3  { grid-column: span 3; }
    .col-xs-4  { grid-column: span 4; }
    .col-xs-5  { grid-column: span 5; }
    .col-xs-6  { grid-column: span 6; }
    .col-xs-7  { grid-column: span 7; }
    .col-xs-8  { grid-column: span 8; }
    .col-xs-9  { grid-column: span 9; }
    .col-xs-10 { grid-column: span 10; }
    .col-xs-11 { grid-column: span 11; }
    .col-xs-12 { grid-column: span 12; }
}

@media(550px <=width) {

    /* sm */
    :root {
        --layout_column-gap: var(--layout_column-gap--sm);
    }
    .col-sm-1  { grid-column: span 1; }
    .col-sm-2  { grid-column: span 2; }
    .col-sm-3  { grid-column: span 3; }
    .col-sm-4  { grid-column: span 4; }
    .col-sm-5  { grid-column: span 5; }
    .col-sm-6  { grid-column: span 6; }
    .col-sm-7  { grid-column: span 7; }
    .col-sm-8  { grid-column: span 8; }
    .col-sm-9  { grid-column: span 9; }
    .col-sm-10 { grid-column: span 10; }
    .col-sm-11 { grid-column: span 11; }
    .col-sm-12 { grid-column: span 12; }
}

@media(768px <=width) {

    /* md */
    :root {
        --layout_column-gap: var(--layout_column-gap--md);
    }
    .col-md-1  { grid-column: span 1; }
    .col-md-2  { grid-column: span 2; }
    .col-md-3  { grid-column: span 3; }
    .col-md-4  { grid-column: span 4; }
    .col-md-5  { grid-column: span 5; }
    .col-md-6  { grid-column: span 6; }
    .col-md-7  { grid-column: span 7; }
    .col-md-8  { grid-column: span 8; }
    .col-md-9  { grid-column: span 9; }
    .col-md-10 { grid-column: span 10; }
    .col-md-11 { grid-column: span 11; }
    .col-md-12 { grid-column: span 12; }
}

@media(992px <=width) {

    /* lg */
    :root {
        --layout_column-gap: var(--layout_column-gap--lg);
    }
    .col-lg-1  { grid-column: span 1; }
    .col-lg-2  { grid-column: span 2; }
    .col-lg-3  { grid-column: span 3; }
    .col-lg-4  { grid-column: span 4; }
    .col-lg-5  { grid-column: span 5; }
    .col-lg-6  { grid-column: span 6; }
    .col-lg-7  { grid-column: span 7; }
    .col-lg-8  { grid-column: span 8; }
    .col-lg-9  { grid-column: span 9; }
    .col-lg-10 { grid-column: span 10; }
    .col-lg-11 { grid-column: span 11; }
    .col-lg-12 { grid-column: span 12; }
}

@media(1200px <=width) {

    /* xl */
    :root {
        --layout_column-gap: var(--layout_column-gap--xl);
    }
    .col-xl-1  { grid-column: span 1; }
    .col-xl-2  { grid-column: span 2; }
    .col-xl-3  { grid-column: span 3; }
    .col-xl-4  { grid-column: span 4; }
    .col-xl-5  { grid-column: span 5; }
    .col-xl-6  { grid-column: span 6; }
    .col-xl-7  { grid-column: span 7; }
    .col-xl-8  { grid-column: span 8; }
    .col-xl-9  { grid-column: span 9; }
    .col-xl-10 { grid-column: span 10; }
    .col-xl-11 { grid-column: span 11; }
    .col-xl-12 { grid-column: span 12; }
}

@media(1440px <=width) {

    /* xxl */
    :root {
        --layout_column-gap: var(--layout_column-gap--xxl);
    }
    .col-xxl-1  { grid-column: span 1; }
    .col-xxl-2  { grid-column: span 2; }
    .col-xxl-3  { grid-column: span 3; }
    .col-xxl-4  { grid-column: span 4; }
    .col-xxl-5  { grid-column: span 5; }
    .col-xxl-6  { grid-column: span 6; }
    .col-xxl-7  { grid-column: span 7; }
    .col-xxl-8  { grid-column: span 8; }
    .col-xxl-9  { grid-column: span 9; }
    .col-xxl-10 { grid-column: span 10; }
    .col-xxl-11 { grid-column: span 11; }
    .col-xxl-12 { grid-column: span 12; }
}