@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Space+Mono&display=swap');

@import url('tokens/Type.tokens.css');
@import url('tokens/layout/Container.tokens.css');
@import url('tokens/layout/Section.tokens.css');
@import url('tokens/layout/Columns.tokens.css');


:root {
  --background: #ffffff;
  --foreground: #0E002D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid lime; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font_face-sans);
  margin: 0;
}

h1 {
  font-size: var(--font_heading-1-size);
  line-height: var(--font_heading-1-line-height);
  letter-spacing: var(--font_heading-1-letter-spacing);
}

h2 {
  font-size: var(--font_size-heading-2);
}

.font-display-1 {
  font-size: var(--font_display-1--size);
  line-height: var(--font_display-1--line-height);
  letter-spacing: var(--font_display-1--letter-spacing);
  margin: 0;
}

.font-mono {
  font-family: var(--font_face-mono);
}

section {
  width: 100%;
  align-items: center;
  padding-block: var(--layout_section--padding);
}

.container {
  margin: auto;
  max-width: var(--layout_container--max-width);
  padding-inline: var(--layout_container--padding);
}

.columns{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--layout_column-gap);
}

