.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    backdrop-filter: blur(2px);
    border: 1px solid hsl(0 0% 72% / 50%);
    box-shadow: 0px 1px 8px -4px rgba(0 0 0 / 0.5);
    border-radius: 1rem;
    padding: 1rem;
}

.card img {
    width: 100%;
    border-radius: .5rem;
}