.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    backdrop-filter: blur(2px);
    border: 1px solid hsl(0 0% 72% / 50%);
    padding: 1rem;
}

.card img {
    width: 100%;
    border-radius: .5rem;
}